.staticGif {
    background-image: url('https://media.giphy.com/media/FgiU10cTkyiGY/giphy.gif');
    background-size: cover;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
    min-height: 100%;
    width: 50%;
}